.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
button{
    height: 60px;
    width: 100px;
    background-color: rgba(123, 211, 222, 0.735);
    font-size: 23px;
    border-radius: 30px;
}
input{
    font-size: 32px;
    border-radius: 35px;
    border: 7px solid  rgb(7, 7, 7);
}
.calculator{
    display: inline-block;
    background-color: #e3b6e0;
    border-radius: 45px;
    padding: 30px;
    border: 7px solid black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
}